\#*\#
*~
*.a
*.dep
*.i
*.la
*.lo
*.o
.deps
.libs
aclocal.m4
autom4te.cache
autoscan.log
config
config.cache
config.h
config.h.in
config.log
config.status
configure
configure.scan
core
libtool
log
m4
Makefile
Makefile.in
player/synctest
gui/player
stamp-h1
typescript
