\#*\#
*~
*.a
*.dep
*.i
*.la
*.lo
*.o
*.gz
*.tgz
.deps
.libs
aclocal.m4
autom4te.cache
autoscan.log
config
config.cache
config.h
config.h.in
config.log
config.status
configure
configure.scan
core
libtool
log
m4/l*.m4
Makefile
Makefile.in
tools/wrap
platform/test/eventTest
platform/test/client
platform/test/server
player/synctest
common/configFileTest
gui/sinema
gui/COPYING.inc
gui/README.inc
gui/version.inc
stamp-h1
typescript
version
